<md-tab-group>

  <md-tab label="General">
    <ss2-general></ss2-general>
  </md-tab>

  <md-tab label="Practices and Roles">
    <ss2-practices-and-roles></ss2-practices-and-roles>
  </md-tab>

  <md-tab label="Interaction Warnings">
    <ss2-interaction-warnings></ss2-interaction-warnings>
  </md-tab>

  <md-tab label="Privacy Policy">
    <ss2-privacy-policy></ss2-privacy-policy>
  </md-tab>

  <md-tab label="Patient Summary">
    <ss2-patient-summary></ss2-patient-summary>
  </md-tab>

  <md-tab label="Password Rules">
    <ss2-password-rules></ss2-password-rules>
  </md-tab>

</md-tab-group>