<pc-card class="inner-card">

  <ss2-page-title [pageTitle]="formTitle"></ss2-page-title>

  <pc-card-content>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">

      <md-list>

        <ss2-field [group]="form" [attributes]="accountFieldAttr"></ss2-field>

        <ss2-field [group]="form" [attributes]="firstNameFieldAttr"></ss2-field>

        <ss2-field [group]="form" [attributes]="lastNameFieldAttr"></ss2-field>

        <ss2-field [group]="form" [attributes]="userNameFieldAttr"></ss2-field>

        <ss2-field [group]="form" [attributes]="passwordFieldAttr"></ss2-field>

        <ss2-field [group]="form" [attributes]="confirmPasswordFieldAttr"></ss2-field>

        <md-list-item>
          <span id="mismatch" *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
        </md-list-item>

        <md-list-item>
          <pc-card-actions>
            <button pc-button id="submit" color="primary">Sign Up</button>
          </pc-card-actions>
        </md-list-item>

      </md-list>

    </form>

  </pc-card-content>

</pc-card>
