<pc-card>

  <pc-card class="inner-card large">

    <pc-card-title>
      <h1>{{title | myCapitalize}}</h1>
    </pc-card-title>

    <pc-card-content>

      <md-list>
        
        <md-list-item>
          <pc-input-container intent="primary">
            <input pc-input [(ngModel)]="password.current" id="password" placeholder="Current Password" type="password" required />
          </pc-input-container>
        </md-list-item>
    
        <md-list-item>
          <pc-input-container intent="primary">
            <input pc-input [(ngModel)]="password.new" id="newPassword" (keyup)="mismatchedFields()" placeholder="New Password" type="password" required />
          </pc-input-container>
        </md-list-item>

        <md-list-item>
          <pc-input-container intent="primary">
            <input pc-input [(ngModel)]="password.confirmNew" id="confirmNewPassword" (keyup)="mismatchedFields()" placeholder="Confirm New Password" type="password" required />
          </pc-input-container>
        </md-list-item>

        <md-list-item>
          <span class="mismatch" *ngIf="!passwordsMatch">Passwords do not match</span>
        </md-list-item>

        <md-list-item>
          <pc-card-actions>
            <button pc-button id="reset" color="primary" (click)="save()">Reset Password</button>
          </pc-card-actions>
        </md-list-item>

      </md-list>

    </pc-card-content>

  </pc-card>

</pc-card>
