<pc-card class="inner-card">

  <ss2-page-title [pageTitle]="formTitle"></ss2-page-title>

  <pc-card-content>

    <ng-template [ngIf]="isLoading">
      Please wait ...
    </ng-template>

    <ng-template [ngIf]="!isLoading">

      <div class="left_align">

        <md-slide-toggle id="toggle" [checked]="editMode" (change)="toggleEditMode()">Edit Mode</md-slide-toggle>

      </div>

      <div [ngSwitch]="editMode">

        <div *ngSwitchCase="true">

          <md-list>

            <md-list-item>
              <pc-input-container intent="primary">
                <input [(ngModel)]="user.account" pc-input placeholder="Account" disabled>
              </pc-input-container>
            </md-list-item>

            <md-list-item>
              <pc-input-container intent="primary">
                <input [(ngModel)]="user.firstname" pc-input id="user_firstname" placeholder="First Name">
              </pc-input-container>
            </md-list-item>

            <md-list-item>
              <pc-input-container intent="primary">
                <input [(ngModel)]="user.lastname" pc-input id="user_lastname" placeholder="Last Name">
              </pc-input-container>
            </md-list-item>

            <md-list-item>
              <pc-card-actions>
                <button pc-button id="save" color="primary" (click)="post()">Save Changes</button>
              </pc-card-actions>
            </md-list-item>

          </md-list>

        </div>

        <div class="left_align" *ngSwitchDefault>

          <table class="full profile_info">

            <tr>

              <td>Account:</td>

              <td>{{user.account}}</td>

            </tr>

            <tr>

              <td>First Name:</td>

              <td>{{user.firstname}}</td>

            </tr>

            <tr>

              <td>Last Name:</td>

              <td>{{user.lastname}}</td>

            </tr>

          </table>

        </div>

      </div>

    </ng-template>

  </pc-card-content>

</pc-card>
