<md-card class="inner-card">

  <ss2-page-title [pageTitle]="formTitle"></ss2-page-title>

  <md-card-content>

    <md-list>

      <md-list-item>
        <md-input-container>
          <input [(ngModel)]="user.account" mdInput placeholder="Account" disabled>
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <md-input-container>
          <input [(ngModel)]="user.firstname" mdInput placeholder="First Name">
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <md-input-container>
          <input [(ngModel)]="user.lastname" mdInput placeholder="Last Name">
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <md-card-actions>
          <button (click)="post()" md-raised-button color="primary">Save Changes</button>
        </md-card-actions>
      </md-list-item>

    </md-list>

  </md-card-content>

</md-card>
