<md-toolbar color="primary">

  <a class="logo" routerLink="/dashboard">
    <ss2-pulse-logo></ss2-pulse-logo>
  </a>

  <a
    pc-flat-button
    [class.active]="configService.activeLink === 'dashboard'"
    routerLink="/dashboard"
    *ngIf="authService.isAuthenticated">
    <span><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</span>
  </a>

  <span class="spacer"></span>

  <a
    pc-flat-button
    [class.active]="configService.activeLink === 'user'"
    routerLink="/user"
    *ngIf="authService.isAuthenticated">
    <span>Welcome {{authService.name | myCapitalize}}</span>
  </a>

  <a
    pc-flat-button
    [class.active]="configService.activeLink === 'login'"
    routerLink="/login"
    *ngIf="!authService.isAuthenticated">
    <span><i class="fa fa-sign-in" aria-hidden="true"></i> Login</span>
  </a>

  <a
    pc-flat-button
    [class.active]="configService.activeLink === 'signup'"
    routerLink="/signup"
    *ngIf="!authService.isAuthenticated">
    <span><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</span>
  </a>


  <button
    md-icon-button
    id="dropdown"
    [mdMenuTriggerFor]="menu"
    *ngIf="authService.isAuthenticated">
    <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
  </button>

  <md-menu class="dropdown" #menu="mdMenu">

    <button
      [class.active]="configService.activeLink === 'user'"
      md-menu-item
      routerLink="/user">
      <span><i class="fa fa-user" aria-hidden="true"></i> Profile</span>
    </button>

    <button
      [class.active]="configService.activeLink === 'settings'"
      md-menu-item
      routerLink="/settings">
      <span><i class="fa fa-cog" aria-hidden="true"></i> Settings</span>
    </button>

    <button
      [class.active]="configService.activeLink === 'pulse-component-lib'"
      md-menu-item
      routerLink="/pulse-component-lib">
      <span><i class="fa fa-cog" aria-hidden="true"></i> pulse component library</span>
    </button>

    <button
      md-menu-item
      id="logout"
      (click)="authService.logout()">
      <span><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</span>
    </button>

  </md-menu>
  
</md-toolbar>