<md-toolbar color="primary">

  <a class="logo" routerLink="/dashboard">
    <ss2-pulse-logo></ss2-pulse-logo>
  </a>

  <button
    [ngClass]="{'active': configService.activeLink === 'dashboard'}"
    md-button
    routerLink="/dashboard"
    *ngIf="authService.isAuthenticated">
    <span><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</span>
  </button>

  <button
    [ngClass]="{'active': configService.activeLink === 'settings'}"
    md-button
    routerLink="/settings"
    *ngIf="authService.isAuthenticated">
    <span><i class="fa fa-cog" aria-hidden="true"></i> Settings</span>
  </button>

  <span class="spacer"></span>

  <button
    [ngClass]="{'active': configService.activeLink === 'user'}"
    md-button
    routerLink="/user"
    *ngIf="authService.isAuthenticated">
    <span>Welcome {{authService.name | myCapitalize}}</span>
  </button>

  <button
    md-button
    (click)="authService.logout()"
    *ngIf="authService.isAuthenticated">
    <span><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</span>
  </button>

  <button
    [ngClass]="{'active': configService.activeLink === 'login'}"
    md-button
    routerLink="/login"
    *ngIf="!authService.isAuthenticated">
    <span><i class="fa fa-sign-in" aria-hidden="true"></i> Login</span>
  </button>

  <button
    [ngClass]="{'active': configService.activeLink === 'signup'}"
    md-button
    routerLink="/signup"
    *ngIf="!authService.isAuthenticated">
    <span><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</span>
  </button>
  
</md-toolbar>