<pc-card class="inner-card large">

  <ss2-page-title [pageTitle]="pageTitle"></ss2-page-title>
  
  <pc-card-content>
    <h1>Buttons</h1>

    <div class="docs-example-wrapper">

      <div class="docs-example">
        <code>default</code>
        <div>
          <a pc-button>Anchor</a>
          <button pc-button><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

      <div class="docs-example">
        <code>[disabled="disabled"]</code>
        <div>
          <a pc-button disabled="disabled">Anchor</a>
          <button pc-button disabled="disabled"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

      <div class="docs-example">
        <code>[intent="primary"]</code>
        <div>
          <a pc-button intent="primary">Anchor</a>
          <button pc-button intent="primary"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

      <div class="docs-example">
        <code>[intent="success"]</code>
        <div>
          <a pc-button intent="success">Anchor</a>
          <button pc-button intent="success"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

      <div class="docs-example">
        <code>[intent="warning"]</code>
        <div>
          <a pc-button intent="warning">Anchor</a>
          <button pc-button intent="warning"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

      <div class="docs-example">
        <code>[intent="danger"]</code>
        <div>
          <a pc-button intent="danger">Anchor</a>
          <button pc-button intent="danger"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

      <div class="docs-example">
        <code>[active]</code>
        <div>
          <a pc-button active>Anchor</a>
          <button pc-button active><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

      <div class="docs-example">
        <code>[size=small]</code>
        <div>
          <a pc-button size="small">Anchor</a>
          <button pc-button size="small"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

      <div class="docs-example">
        <code>[size=large]</code>
        <div>
          <a pc-button size="large">Anchor</a>
          <button pc-button size="large"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

      <div class="docs-example" style="flex: 1 0 auto;">
        <code>[fill]</code>
        <div>
          <a pc-button fill>Anchor</a>
          <button pc-button fill><!-- TODO: <pc-icon></pc-icon> --> Button</button>
        </div>
      </div>

    </div>
  </pc-card-content>
</pc-card>