<pc-card class="inner-card">

  <ss2-page-title [pageTitle]="formTitle"></ss2-page-title>

  <pc-card-content>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="login(loginForm.value)">
      <md-list>

        <md-list-item>
          <pc-input-container intent="primary">
            <input pc-input id="account" placeholder="Account" type="text" formControlName="account" (focus)="resetForm()" />
            <pc-error *ngIf="formSubmitted && loginForm.controls.account.invalid">This value is invalid</pc-error>
          </pc-input-container>
        </md-list-item>

        <md-list-item>
          <pc-input-container intent="primary">
            <input pc-input id="username" placeholder="Username" type="text" formControlName="username" (focus)="resetForm()" />
            <pc-error *ngIf="formSubmitted && loginForm.controls.username.invalid">This value is invalid</pc-error>
          </pc-input-container>
        </md-list-item>

        <md-list-item>
          <pc-input-container intent="primary">
            <input pc-input id="password" placeholder="Password" type="password" formControlName="password" (focus)="resetForm()" />
            <pc-error *ngIf="formSubmitted && loginForm.controls.password.invalid">This value is invalid</pc-error>
          </pc-input-container>
        </md-list-item>

        <md-list-item>
          <pc-card-actions>
            <button pc-button id="submit" color="primary">Login</button>
          </pc-card-actions>
        </md-list-item>

      </md-list>
    </form>

  </pc-card-content>

</pc-card>
