<pc-card class="inner-card">

  <ss2-page-title [pageTitle]="formTitle"></ss2-page-title>

  <pc-card-content>

    <md-list>
      
      <md-list-item>
        <md-input-container>
          <input mdInput [(ngModel)]="credentials.account" id="account" placeholder="Account" type="text" disabled>
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <md-input-container>
          <input mdInput [(ngModel)]="credentials.username" id="username" placeholder="Username" type="text">
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <md-input-container>
          <input mdInput [(ngModel)]="credentials.password" id="password" placeholder="Password" type="password">
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <pc-card-actions>
          <button pc-button id="submit" color="primary" (click)="login()">Login</button>
        </pc-card-actions>
      </md-list-item>

    </md-list>

  </pc-card-content>

</pc-card>
