<pc-card class="inner-card">

  <ss2-page-title [pageTitle]="formTitle"></ss2-page-title>

  <pc-card-content>

    <md-list>
      
      <md-list-item>
        <pc-input-container intent="primary">
          <input pc-input [(ngModel)]="credentials.account" id="account" placeholder="Account" type="text" required disabled />
        </pc-input-container>
      </md-list-item>

      <md-list-item>
        <pc-input-container intent="primary">
          <input pc-input [(ngModel)]="credentials.username" id="username" placeholder="Username" type="text" />
        </pc-input-container>
      </md-list-item>

      <md-list-item>
        <pc-input-container intent="primary">
          <input pc-input [(ngModel)]="credentials.password" id="password" placeholder="Password" type="password" />
        </pc-input-container>
      </md-list-item>

      <md-list-item>
        <pc-card-actions>
          <button pc-button id="submit" color="primary" (click)="login()">Login</button>
        </pc-card-actions>
      </md-list-item>

    </md-list>

  </pc-card-content>

</pc-card>
