md-list {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  .checkboxes {
    height: 160px;

    md-list {
      width: 100%;

      md-list-item {
        padding-top: 0;
      }
    }
  }

  pc-input-container {
    width: 95%;
  }
}