<md-card>

  <md-card class="inner-card large">

    <ng-template [ngIf]="isLoading">
        Please wait ...
    </ng-template>

    <ng-template [ngIf]="!isLoading">

      <md-card-title>
        <h1>{{title | myCapitalize}}</h1>
      </md-card-title>

      <md-card-content>

        <div *ngIf="admin" class="left_align">

          <md-slide-toggle id="toggle" [checked]="editMode" (change)="toggleEditMode()">Edit Mode</md-slide-toggle>

        </div>

        <div [ngSwitch]="editMode">

          <div *ngSwitchCase="true">

            <form
              [formGroup]="myForm"
              (ngSubmit)="onSubmit(myForm.value)">

              <md-list>

                <md-list-item>

                  <md-input-container>

                    <input
                      mdInput
                      id="textbox1"
                      type="text"
                      name="minimumCharacters"
                      placeholder="Password minimum number of characters"
                      formControlName="minimumCharacters">

                  </md-input-container>

                </md-list-item>

                <md-list-item class="checkboxes">

                  <md-list class="left_align">

                    <md-list-item>

                      <md-checkbox
                        [checked]="passwordRules.minimumNonAlpha"
                        formControlName="minimumNonAlpha">
                        Password must contain at least 1 number or special character
                      </md-checkbox>

                    </md-list-item>

                    <md-list-item>

                      <md-checkbox
                        [checked]="passwordRules.canStartEndNumber"
                        formControlName="canStartEndNumber">
                        Password may start or end with a number
                      </md-checkbox>

                    </md-list-item>

                    <md-list-item>

                      <md-checkbox
                        [checked]="passwordRules.canContainThreeSequentialTypes"
                        formControlName="canContainThreeSequentialTypes">
                        Password may contain a sequence of 3 or more of the same character
                      </md-checkbox>

                    </md-list-item>

                  </md-list>

                </md-list-item>

                <md-list-item>

                  <md-input-container>

                    <input
                      mdInput
                      id="textbox2"
                      type="text"
                      name="changesBeforeReuseOld"
                      placeholder="Number of password changes before old passwords can be reused"
                      formControlName="changesBeforeReuseOld">

                  </md-input-container>

                </md-list-item>

                <md-list-item>

                  <md-input-container>

                    <input
                      mdInput
                      id="textbox3"
                      type="text"
                      name="passwordExpireDays"
                      placeholder="Number of days before passwords expire"
                      formControlName="passwordExpireDays">

                  </md-input-container>

                </md-list-item>

                <md-list-item>

                  <md-input-container>

                    <input
                      mdInput
                      id="textbox4"
                      type="text"
                      name="passwordAttemptsBeforeLockout"
                      placeholder="Number of authentication attempts before lockout"
                      formControlName="passwordAttemptsBeforeLockout">

                  </md-input-container>

                </md-list-item>

                <md-list-item>

                  <md-input-container>

                    <input
                      mdInput
                      id="textbox5"
                      name="lockoutMessage"
                      placeholder="Message displayed to locked out users"
                      formControlName="lockoutMessage">

                  </md-input-container>

                </md-list-item>            

                <md-list-item>
                  <md-card-actions>
                    <button md-raised-button id="save" color="primary" type="submit">Save</button>
                  </md-card-actions>
                </md-list-item>

              </md-list>

            </form>
          
          </div>

          <div class="left_align" *ngSwitchDefault>

            <h2>Current password rules are defined as follows:</h2>

            <ul>

              <li>

                <span>Password must be at least {{passwordRules.minimumCharacters}} characters</span>

              </li>

              <li>

                <span>Old passwords can be reused after {{passwordRules.changesBeforeReuseOld}} password changes</span>

              </li>

              <li>

                <span>Password expires every {{passwordRules.passwordExpireDays}} days</span>

              </li>

              <li>

                <span>Lock user account after {{passwordRules.passwordAttemptsBeforeLockout}} failed login attemps. Users must then contact an administrator to reset their password.</span>

              </li>

              <li>

                <span>Message displayed to locked users: "<i>{{passwordRules.lockoutMessage}}</i>"</span>

              </li>

            </ul>

            <h2>By default all passwords must follow the standard PulseCloud rules bellow:</h2>

            <ul>

              <li>

                <span>Password cannot be the same as the username</span>

              </li>

              <li>

                <span>Password is case sensative</span>

              </li>
            </ul>

          </div>

        </div>

      </md-card-content>

    </ng-template>

  </md-card>

</md-card>
