<md-card>

  <md-card class="inner-card large">

    <ng-template [ngIf]="isLoading">
        Please wait ...
    </ng-template>

    <ng-template [ngIf]="!isLoading">

      <md-card-title>
        <h1>{{title | myCapitalize}}</h1>
      </md-card-title>

      <md-card-content>

        <form
            [formGroup]="myForm"
            (ngSubmit)="onSubmit(myForm.value)">

          <md-list>

            <md-list-item>

              <md-input-container>

                <input
                  mdInput
                  id="textbox1"
                  type="text"
                  name="minimumCharacters"
                  placeholder="Minimum {{passwordRules.minimumCharacters}} characters"
                  formControlName="minimumCharacters">

              </md-input-container>

            </md-list-item>

            <md-list-item>

              <md-checkbox
                [checked]="passwordRules.minimumNonAlpha"
                formControlName="minimumNonAlpha">
                Passwords must contain at least 1 number or special character
              </md-checkbox>

            </md-list-item>

            <md-list-item>

              <md-checkbox
                [checked]="passwordRules.canStartEndNumber"
                formControlName="canStartEndNumber">
                Passwords cannot start or end with a 
              </md-checkbox>

            </md-list-item>

            <md-list-item>

              <md-checkbox
                [checked]="passwordRules.canContainThreeSequentialTypes"
                formControlName="canContainThreeSequentialTypes">
                Passwords may not contain a sequence of 3 or more of the same character
              </md-checkbox>

            </md-list-item>

            <md-list-item>

              <md-input-container>

                <input
                  mdInput
                  id="textbox2"
                  type="text"
                  name="changesBeforeReuseOld"
                  placeholder="Minimum {{passwordRules.changesBeforeReuseOld}} changes"
                  formControlName="changesBeforeReuseOld">

              </md-input-container>

            </md-list-item>

            <md-list-item>

              <md-input-container>

                <input
                  mdInput
                  id="textbox3"
                  type="text"
                  name="passwordExpireDays"
                  placeholder="Minimum {{passwordRules.passwordExpireDays}} days"
                  formControlName="passwordExpireDays">

              </md-input-container>

            </md-list-item>

            <md-list-item>

              <md-input-container>

                <input
                  mdInput
                  id="textbox4"
                  type="text"
                  name="passwordAttemptsBeforeLockout"
                  placeholder="Minimum {{passwordRules.passwordAttemptsBeforeLockout}} attempts"
                  formControlName="passwordAttemptsBeforeLockout">

              </md-input-container>

            </md-list-item>

            <md-list-item>

              <md-input-container>

                <input
                  mdInput
                  id="textbox5"
                  name="lockoutMessage"
                  placeholder="Limit 100 characters"
                  formControlName="lockoutMessage">

              </md-input-container>

            </md-list-item>            

            <md-list-item>
              <md-card-actions>
                <button md-raised-button type="submit" color="primary">Save</button>
              </md-card-actions>
            </md-list-item>

          </md-list>

        </form>

      </md-card-content>

    </ng-template>

  </md-card>

</md-card>
