@import 'variables';

.inner-card {
    width: $inner-card-width-sm;
    margin: auto;
    text-align: center;

    &.large {
        width: $inner-card-width-lg;
    }

    .mat-list .mat-list-item .mat-list-item-content,
    .mat-nav-list .mat-list-item .mat-list-item-content {
        display: block;
    }
}