.spacer {
    flex: 1 1 auto;
}

.center_align {
    align-items: center;
}

.small {
    font-size: 60%;
}

.outline {
    border: thin solid red;

    &.green {
        border: thin solid green;
    }
}

.gap {
    margin-bottom: 10px;
}